Package: libpeony-qt-admin
Source: peony-qt-extensions
Version: 1.0
Architecture: amd64
Maintainer: hemh <hemeihong@kylinos.cn>
Installed-Size: 13
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/explorer-cs/peony-qt-extensions
Description: peony-qt-admin is user authority manager plugin.
