Source: peony
Section: x11
Priority: optional
Maintainer: Yue Lan <lanyue@kylinos.cn>
Build-Depends: debhelper (>=11~), pkg-config, qt5-qmake, qtbase5-dev, qtchooser, qtbase5-dev-tools, qttools5-dev-tools, libglib2.0-dev, libqt5x11extras5-dev, libgsettings-qt-dev, libpoppler-dev, libpoppler-qt5-dev
Standards-Version: 4.4.0
Homepage: https://github.com/ukui/peony

Package: libpeony2
Provides: libpeony
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, libglib2.0-0, libqt5widgets5, libpoppler-qt5-1
Recommends: gvfs-backends, qt5-gtk2-platformtheme, qt5-gtk-platformtheme
Breaks: libpeony-extensions1
Replaces: libpeony-extensions1
Description: PeonyQt is the file-manager of UKUI3.0
 This package provide the libraries which peony-qt requires.

Package: libpeony-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}, libpeony2 (= ${binary:Version})
Description: PeonyQt is the file-manager of UKUI3.0
 This package provides the development files which peony-qt requires.
 It also can be used for other projects about qt/gio-based file-manager.

Package: peony-common
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Replaces: peony-common(<<2.0.0)
Description: file manager for the UKUI desktop (common files)
 Peony is the official file manager for the UKUI desktop. It allows one
 to browse directories, preview files and launch applications associated
 with them. It is also responsible for handling the icons on the UKUI
 desktop. It works on local and remote filesystems.
 .
 This package contains the architecture independent files.

Package: peony
Section: utils
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, libpeony2 (= ${binary:Version}), peony-common (= ${source:Version})
Replaces: peony(<< 2.0.0)
Recommends: gvfs-backends, qt5-gtk2-platformtheme, peony-qt-extensions
Description: PeonyQt is the file-manager of UKUI3.0
 This package provides filemanager and desktop applications of UKUI3.0.
