Peony--DesktopIconView
{
    background-color: transparent;
    border: 0px;
    padding: 0px;
}

Peony--DesktopIconView::Item
{
    padding-top: 5px;
    image-position: bottom;
}

Peony--DesktopIconView::Item:hover
{
    background-color: transparent;
}

Peony--DesktopIconView::Item:selected
{
    background-color: transparent;
}
