Package: libpeony-qt-share
Source: peony-qt-extensions
Version: 1.0
Architecture: amd64
Maintainer: hemh <hemeihong@kylinos.cn>
Installed-Size: 12
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/explorer-cs/peony-qt-extensions
Description: peony-qt-share is user share plugin.
