[Desktop Entry]
Name=Peony Trash
GenericName=Trash
GenericName[tr]=Çöp
GenericName[zh_CN]=打开回收站
Name[tr]=Çöp
Name[zh_CN]=回收站
Exec=/usr/bin/peony trash:///
Icon=user-trash
Terminal=false
Type=Application
Keywords=file;home;folder;browser;disk;computer;
