[Desktop Entry]
Name=Peony Home
GenericName=Home
GenericName[zh_CN]=打开个人目录
Name[zh_CN]=个人目录
Exec=/usr/bin/peony
MimeType=inode/directory
Icon=user-home
Terminal=false
Type=Application
Keywords=file;home;folder;browser;disk;computer;
