[Desktop Entry]
Name=Peony Trash
GenericName=Trash
GenericName[tr]=Çöp
GenericName[zh_CN]=打开回收站
GenericName[bo_CN]=སྙིགས་སྒམ།
Name[tr]=Çöp
Name[zh_CN]=回收站
Name[bo_CN]=སྙིགས་སྒམ།
Exec=/usr/bin/peony trash:///
Icon=user-trash
Terminal=false
Type=Application
Categories=System;Settings;Security;
Keywords=file;home;folder;browser;disk;computer;
NoDisplay=true
