[Desktop Entry]
Name=Peony
GenericName=UKUI File Manager
GenericName[zh_CN]=文件管理器
Name[zh_CN]=文件管理器
Exec=/usr/bin/peony %U
MimeType=inode/directory
Icon=system-file-manager
Terminal=false
Type=Application
