[Desktop Entry]
Name=Peony Home
GenericName=Home
GenericName[tr]=Giriş
GenericName[zh_CN]=打开个人目录
GenericName[bo_CN]=སྒེར་གྱི་དཀར་ཆག
Name[tr]=Giriş
Name[zh_CN]=个人目录
Name[bo_CN]=སྒེར་གྱི་དཀར་ཆག
Exec=/usr/bin/peony
Icon=user-home
Terminal=false
Type=Application
Categories=System;Settings;Security;
Keywords=file;home;folder;browser;disk;computer;
NoDisplay=true
