[Desktop Entry]
Name=Peony
GenericName=UKUI File Manager
GenericName[tr]=UKUI Dosya Yöneticisi
GenericName[zh_CN]=文件管理器
GenericName[bo_CN]=ཡིག་ཆ་དོ་དམ་ཆས།
Name[tr]=Peony
Name[zh_CN]=文件管理器
Name[bo_CN]=ཡིག་ཆ་དོ་དམ་ཆས།
Exec=/usr/bin/peony %U
MimeType=inode/directory
Icon=system-file-manager
Terminal=false
Type=Application
Categories=System;Settings;Security;
Keywords=file;home;folder;browser;disk;computer;
