[Desktop Entry]
Name=Peony Qt Desktop
GenericName=Desktop Manager
GenericName[zh_CN]=UKUI桌面
Name[zh_CN]=UKUI桌面
Exec=/usr/bin/peony-qt-desktop -w -d
Icon=user-desktop
Terminal=false
Type=Application
